
*{
    margin: 0;
    padding: 0;
    
    /* box-sizing: border-box; */
 }
.box {
    background-color: rgb(25, 144, 104);
    border: 40px rgb(192, 192, 192) solid;
    padding: 30px;
    margin: 30px;
    height: 200px;
    width: 200px;
    text-align: center;
}
#box{
    height: 100px;
    width: 100px;
    border: 40px rgb(192, 192, 192) solid;
    padding: 30px;
    margin: 30px;
    background-color: blueviolet;
    border-radius: 20cm;
    

}
h1{
    height: 200opx;
    width: 150px;
    background-color: aquamarine;
    border: 5px red dotted;
}
p{
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    background-color: aliceblue;
    
}

#this{

    height: 200px;
    width: 200px;
    background-color: violet;
    border: 10px solid red;
    
}
#maan{

    height:100px;
    width: 100px;
    border: 10px solid red;
    background-color: pink;
    border-radius: 10%;
   

}